.kush{
    border: 1px solid white;
    background-color: rgb(223, 202, 202);
    width: 950px;
    border-radius: 18px;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px black;
    margin-left: 18%;
   
}

.in{
    width: 250px;
    height: 250px;
    margin-left: 38%;
}

.ku{
    color: blue;
    margin-left: 40.5%;
}