.ind{
    border: 5px solid white;
    background-color: #f9f2f2cc;
    width: 550px;
    bottom: white;
    border-radius: 18px;
    padding: 20px;
    /* text-align: center; */
    font-size: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 7px rgba(187, 182, 182, 0.638);
    margin-left: 32%;
}

.jeet{
    color: black;
    background-color: blue;
}

.jeet:hover{
    background-color: aquamarine;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 13px;
}